@import "tailwindcss";

@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir.woff2");
    font-display: swap;
}

@theme{

    --font-vazir: "vazir";


    --color-bgGray: #242424;
    --color-secondary: hsla(0, 0%, 100%, 0.56);
    --color-primary: #ffffffde;
    --color-darkGray: #2D2D2D;
    --color-red: #D14757;

    --shadow-one: 0 1px 2px 0 hsla(0, 0%, 100%, 0.12);
    --shadow-box: 0 10px 30px 1px rgba(255, 255, 255, 0.08);

    --breakpoint-2xl: 90rem;
}

@layer base {

    body {

        @apply font-vazir
    }

    input {

        outline: none;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #242424 inset !important;
        -webkit-text-fill-color: hsla(0, 0%, 100%, 0.56) !important;
    }
}

@layer components {

    .custom-scroll::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .custom-scroll::-webkit-scrollbar-track {
        background-color: #242424 !important;
        border-radius: 4px;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background-color: #373737; /* رنگ خود دکمه اسکرول (thumb) */
        border-radius: 4px;
        margin-right: 3px;
    }

    /* برای Firefox */
    .custom-scroll {
        scrollbar-width: thin;
        scrollbar-color: #373737 #242424;
    }

    /*switch*/
    .switch {
        font-size: 12px;
        position: relative;
        display: inline-block;
        width: 2.2em; /* کمی بزرگ‌تر */
        height: 1.3em; /* کمی بلندتر */
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        background: gray;
        border-radius: 50px;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .slider:before {
        position: absolute;
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.2em; /* کمی بزرگ‌تر */
        height: 1.3em; /* کمی بزرگ‌تر */
        top: 0;
        right: 0;
        background-color: white;

        border-radius: 50px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .switch input:checked + .slider {
        background: #D14757;
    }

    .switch input:focus + .slider {
        box-shadow: 0 0 1px #D14757;
    }

    .switch input:checked + .slider:before {
        transform: translateX(-1.1em); /* متناسب با اندازه بزرگ‌تر */
    }

    /*chack box*/
    .checkbox-container {
        position: relative;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
    }

    .custom-checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: transparent;
        border: 1px solid hsla(0, 0%, 100%, 0.56);
        border-radius: 2px;
        transition: background-color 0.3s;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 6px;
        top: 2px;
        width: 5px;
        height: 14px;
        border: solid black;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

    .custom-checkbox:checked ~ .checkmark {
        background-color: #D14757;
        box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
        border: 1px solid #D14757;

    }

    .custom-checkbox:checked ~ .checkmark:after {
        display: block;
    }

    @keyframes checkAnim {
        0% {
            height: 0;
        }

        100% {
            height: 10px;
        }
    }

    .custom-checkbox:checked ~ .checkmark:after {
        animation: checkAnim 0.2s forwards;
    }

    .ad-card {
        @apply p-1 md:p-2;

        article {
            @apply flex flex-col border border-[#fff]/8
        }

        .content {
            @apply flex p-4 rounded-sm;
        }

        .info {
            @apply w-full flex flex-col justify-between  text-secondary text-sm/6;

            .title {
                @apply text-sm md:text-base/7 line-clamp-2 font-bold overflow-hidden text-primary ;
            }

            .details {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .time-location {

                overflow: hidden !important;
                text-overflow: ellipsis;
                white-space: nowrap;

                @apply pr-0.5 text-xs lg:text-sm font-bold md:font-normal ;

                .red-text {
                    @apply text-[#d14757];
                }
            }

        }

        .image {

            @apply relative min-w-34 h-34 flex justify-center;

            img {
                @apply mr-1 rounded-sm;
            }

            .up {
                @apply absolute top-1 left-1 flex items-center gap-x-1 text-[#fafafa] text-xs/6 font-bold bg-[#000000b3] pl-2 pr-1 rounded-sm;

                img {
                    @apply size-4
                }

            }

            .down {
                @apply absolute bottom-1;

                div {
                    @apply flex items-center justify-center gap-x-1 text-[#fafafa] text-xs/6 font-bold bg-[#000000b3] rounded-sm pl-2 pr-1;
                }

                img {
                    @apply size-4
                }
            }
        }
    }

}

@utility container {

    @apply mx-auto px-2.5 lg:px-4 max-lg:max-w-full
}

.choices__item--choice {
    @apply hover:bg-primary/10 p-2 cursor-pointer text-secondary;
}

.choices__item--choice:hover {
    background-color: hsla(0, 0%, 100%, 0.1) !important;
}

/* حذف رنگ پس‌زمینه برای گزینه‌های highlight */
.choices__inner,
.choices__list,
.choices__input {

    @apply !bg-bgGray;
}

.choices__item.is-highlighted {

    @apply !bg-darkGray;
}

.choices__list.choices__list--dropdown {

    @apply shadow-box
}

.choices__item--selectable {

    @apply pr-5
}

